<div id="navigation" class="navbar navbar-default navbar-fixed-top">
	<div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>PicoOrder</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>{{#link-to 'index'}}Home{{/link-to}}</li>
            <li>{{#link-to 'faq'}}FAQ{{/link-to}}</li>
            <li>{{#link-to 'pricing'}}Pricing{{/link-to}}</li>
            <li>{{#link-to 'login'}}Register{{/link-to}}</li>
          </ul>
        </div>
	</div>
</div>

{{outlet}}

<div id="c">
    <div class="container">
        <p>Original Design Based On A Design By <a href="http://www.blacktie.co">blacktie.co</a></p>
    </div>
</div>