<!-- Entry -->
<div class="slide story" id="slide-1" data-slide="1">
    <div class="container">
        <div id="home-row-1" class="row clearfix">
            <div class="col-12">
                <h1>HI!</h1>
                <h4 class="font-thin">We are....</h4>
                <br>
                <br>
            </div>
        </div>
        <div id="home-row-2" class="row clearfix">
            <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="4"><img src="images/s01.png"></div><span>STATISTICS</span></div>
            <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="3"><img src="images/s02.png"></div><span>EASY FOOD MANAGEMENT FOR EVENTS</span></div>
            <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="5"><img src="images/s03.png"></div><span>FREE PLAN</span></div>
        </div>
    </div>
</div>

<div class="slide story" id="slide-2" data-slide="2">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-thin">Contrary to popular belief, <span class="font-semibold">Lorem Ipsum</span> is not simply random text.</div>
        </div>
        <div class="row line-row">
            <div class="hr">&nbsp;</div>
        </div>
        <div class="row subtitle-row">
            <div class="col-12 font-thin">This is what <span class="font-semibold">we do best</span></div>
        </div>
        <div class="row content-row">
            <div class="col-12 col-lg-3 col-sm-6">
                <p><i class="icon icon-eye-open"></i></p>
                <h2 class="font-thin">Visual <span class="font-semibold">Identity</span></h2>
                <h4 class="font-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
            </div>
            <div class="col-12 col-lg-3 col-sm-6">
                <p><i class="icon icon-laptop"></i></p>
                <h2 class="font-thin">Web <span class="font-semibold">Design</span></h2>
                <h4 class="font-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
            </div>
            <div class="col-12 col-lg-3 col-sm-6">
                <p><i class="icon icon-tablet"></i></p>
                <h2 class="font-thin">Mobile <span class="font-semibold">Apps</span></h2>
                <h4 class="font-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
            </div>
            <div class="col-12 col-lg-3 col-sm-6">
                <p><i class="icon icon-pencil"></i></p>
                <h2 class="font-semibold">Development</h2>
                <h4 class="font-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
            </div>
        </div>
    </div>
</div>

<div class="slide story" id="slide-4" data-slide="4">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-thin">See us <span class="font-semibold">at work</span></div>
        </div>
        <div class="row line-row">
            <div class="hr">&nbsp;</div>
        </div>
        <div class="row subtitle-row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-10 font-light">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</div>
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div>
        <div class="row content-row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-2">
                <p><i class="icon icon-bolt"></i></p>
                <h2 class="font-thin">Listening to<br><span class="font-semibold" >your needs</span></h2>
                <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
            </div>
            <div class="col-12 col-sm-2">
                <p><i class="icon icon-cog"></i></p>
                <h2 class="font-thin">Project<br><span class="font-semibold">discovery</span></h2>
                <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
            </div>
            <div class="col-12 col-sm-2">
                <p><i class="icon icon-cloud"></i></p>
                <h2 class="font-thin">Storming<br><span class="font-semibold">our brains</span></h2>
                <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
            </div>
            <div class="col-12 col-sm-2">
                <p><i class="icon icon-map-marker"></i></p>
                <h2 class="font-thin">Getting<br><span class="font-semibold">there</span></h2>
                <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
            </div>
            <div class="col-12 col-sm-2">
                <p><i class="icon icon-gift"></i></p>
                <h2 class="font-thin">Delivering<br><span class="font-semibold">the product</span></h2>
                <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
            </div>
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div>
    </div>
</div>

<div class="slide story" id="slide-5" data-slide="5">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-thin"><span class="font-semibold">Team</span> supporting your needs</div>
        </div>
        <div class="row line-row">
            <div class="hr">&nbsp;</div>
        </div>
        <div class="row subtitle-row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-10 font-light">We are...</div>
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div>
        <div class="row content-row">
            <div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-2"><img src="images/client01.png" alt=""></div>
            <div class="col-12 col-sm-2"><img src="images/client02.png" alt=""></div>
            <div class="col-12 col-sm-2"><img src="images/client03.png" alt=""></div>
            <div class="col-12 col-sm-2"><img src="images/client04.png" alt=""></div>
            <div class="col-12 col-sm-2"><img src="images/client05.png" alt=""></div>
            <div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
        </div>
    </div>
</div>

<div class="slide story" id="slide-6" data-slide="6">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-light">Leave us a <span class="font-semibold">message</span></div>
        </div>
        <div class="row line-row">
            <div class="hr">&nbsp;</div>
        </div>
        <div class="row subtitle-row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-10 font-light">... and we'll respond!</div>
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div>
        <div id="contact-row-4" class="row">
            <div class="col-12 col-sm-2 with-hover-text">
                <p><a target="_blank" href="#"><i class="icon icon-envelope"></i></a></p>
                <span class="hover-text font-light ">foo@example.com</span></a>
            </div>
            <div class="col-12 col-sm-2 with-hover-text">
                <p><a target="_blank" href="#"><i class="icon icon-facebook"></i></a></p>
                <span class="hover-text font-light ">facebook/...</span></a>
            </div>
            <div class="col-12 col-sm-2 with-hover-text">
                <p><a target="_blank" href="#"><i class="icon icon-twitter"></i></a></p>
                <span class="hover-text font-light ">@KohlerSolutions</span></a>
            </div>
            <div class="col-12 col-sm-2 with-hover-text">
                <p>Project by ...</p>
            </div>
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div>
    </div>
</div>