<section id="home" name="home"></section>
<div id="headerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-6">
                <h5>Register</h5>
                <p>Guests can order online, live tracking for your staff in real-time.</p>
            </div>
            <div class="col-lg-6">
                <h5>Login</h5>
                <p>Add food and drink categories, get a reporting of how many items you sold in real-time.</p>
            </div>
        </div>
    </div>
</div>
